/*подсветка выбранной стр  в навбаре*/
.nav_inner_links_outer_inner li:first-child a {
    color: #5b56ce;
}


.home_header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 900px;
}

.home_header_slider-outer{
    max-height: 810px;
    display: flex;
    justify-content: center;
    height: calc(100% - 90px);
}

.home_header_slider {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.home_header_slider_inner {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: flex;
    transition: transform 1s ease;
}

.home_header_slider_inner_slide{
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slider__control{
    transform: translateY(-100%);
    position: absolute;
    top: calc(50% - 21px);
}

.slider__control_left{
    left: 10%;
}

.slider__control_right{
    right: 10%;
}

.slider__control, .slider__control a, .slider__control img {
    background-color: unset;
}

.slider__control img:hover {
    background-color: black;
    border-radius: 50%;
}
